/* ==========================================================================           
 *
 *    Custom CSS
 *
 * ========================================================================== */
#main-wrapper #main-background {
    background-color: rgb(83, 36, 36) !important; /* Set your desired color here */
    background-image: none !important;
}

#main-background {
    background-color: rgb(83, 36, 36) !important;
    background-image: none !important;
}